@import url("https://lcpt-website.netlify.com/fonts.css");

@import "./default.css";

body {
    margin: 0;
    padding: 0;
}

iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#url-footer {
    background-color: aliceblue;
    position: absolute;
    left: 0;
    bottom: 0;
    display:block;
    z-index: -10000;
    padding-left: 5px;
    padding-bottom: 5px;
}